<a href="https://colab.research.google.com/github/arenas-franklin/Ocean-DS-pandas/blob/main/Ocean_DS_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula de Pandas

In [1]:
import pandas as pd

In [4]:
# Lista

lista = [10, 20, 30, 40, 50]

print(lista)
print(type(lista))
print("Primeiro elemento: ", lista[0])

# Series -> Lista 

series_numerica = pd.Series(lista)

print(series_numerica)
print(type(series_numerica))
print("Primeiro elemento da series:", series_numerica[0])
print("Segundo elemento da series:", series_numerica[1])

[10, 20, 30, 40, 50]
<class 'list'>
Primeiro elemento:  10
0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>
Primeiro elemento da series: 10
Segundo elemento da series: 20

In [5]:
# Criando uma series com o mesmo valor varias vezes
pd.Series(9.7, range(10))

0    9.7
1    9.7
2    9.7
3    9.7
4    9.7
5    9.7
6    9.7
7    9.7
8    9.7
9    9.7
dtype: float64